.details_wrapper {
 margin: 0 auto;

  .details_container {
    display: grid;
    column-gap: 82px;
    grid-template-columns: 7fr 3fr;
    margin: 0 auto;
    padding: 30px;


    @media screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      padding: 10px;

    }


    .text_block {
      padding: 10px;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }


      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
          display: flex;
          flex-direction: column;

        }

        .header_title {
          font-family: 'Proxima Nova', sans-serif;
          font-weight: 700;
          font-size: 28px;
          line-height: 34px;
          letter-spacing: 0.413333px;
          color: #3A4562;
          margin-bottom: 7px;
        }

        .btn_container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 24px;

          @media screen and (max-width: 768px) {
            gap: 0;

          }

          .bookmark_btn {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #3A4562;
            cursor: pointer;
          }

          .share_btn_block {
            display: flex;

            .share_btn {
              font-family: 'Roboto', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 24px;
              color: #3A4562;
              margin-left: 8px;
              cursor: pointer;
            }
          }

        }
      }

      .divider{
        margin-top: 0;
        margin-bottom: 32px;
      }

      .apply_btnOne{
        margin-top: 0;
        margin-bottom: 32px;

        @media screen and (max-width: 768px) {
          display: none;
        }

      }

      .title_block {
        display: grid;
        grid-template-columns: 5fr 1fr;
        column-gap: 60px;


        @media screen and (max-width: 768px) {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

        }


        .job_title {
          font-family: 'Proxima Nova-Bold', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          letter-spacing: -0.75px;
          color: #3A4562;
          margin-bottom: 7px;

        }

        .job_salary {
          font-family: 'Proxima Nova-Bold', sans-serif;
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
          letter-spacing: -0.625px;
          color: #3A4562;
          @media screen and (max-width: 768px) {
            order:3
          }


          .sum_perYr {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;

            letter-spacing: -0.5625px;
            color: #3A4562;
          }
        }

        .jobDatePost {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: -0.5625px;
          color: rgba(56, 65, 93, 0.355988);
          margin-bottom: 7px;
        }
      }

      .job_description_block {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.5625px;
        color: #3A4562;

        .job_description_title {
          font-family: 'Proxima Nova-Bold', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
          letter-spacing: -0.625px;
          color: #3A4562;

        }

        .benefitsList {
          list-style: none;

          &:before {
            content: '';
            width: 9px;
            height: 9px;
            background-color: rgba(56, 69, 100, 0.632594);
            display: inline-block;
            transform: translate(-10px, -2px);
          }
        }
      }

      .apply_btnTwo{
        margin-top: 42px;
        margin-bottom: 32px;
        display: flex;

        @media screen and (max-width: 768px) {
         display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 100px;
          margin-top: 22px;
        }

      }

      .additionalInfo_section {
        margin-bottom: 87px;

        .addInfo_title {
          font-family: 'Proxima Nova-Bold', sans-serif;
          font-style: normal;
          font-size: 28px;
          line-height: 34px;
          letter-spacing: 0.413333px;
          color: #3A4562;
          margin-bottom: 25px;
        }

        .addInfo_block {

          .itemsContainer_title {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.5625px;
            color: #3A4562;
          }

          .type_container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 23px;

          }

          .benefits_container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

          }
        }
      }

      .attachedImages_block {
        margin-bottom: 97px;

        .attachedImages_title {
          font-family: 'Proxima Nova-Bold', sans-serif;
          font-style: normal;
          font-size: 28px;
          line-height: 34px;
          letter-spacing: 0.413333px;
          color: #3A4562;
          margin-bottom: 25px;
        }

        .pictures_container {
          display: flex;
          flex-wrap: wrap;
          //grid-template-columns: 1fr 1fr 1fr;

        }
      }
    }

    .map_container {
      display: flex;
      margin: 0 auto;


      @media screen and (max-width: 768px) {
        width: 100%;
        height: 100%;
        justify-content: center;
        margin-bottom: 25px;
      }

    }
  }


  .button_container {
    padding-bottom: 80px;

    .returnBackBtn {
      margin-left: 20px;
      display: flex;
      width: 215px;
      height: 50px;
      justify-content: center;
      align-items: center;
      font-family: 'Proxima Nova-Bold', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      color: #3A4562;
      background: rgba(225, 224, 224, 0.7);
      border-radius: 8px;

      &:before {
        content: '';
        width: 15px;
        height: 15px;
        border-bottom: 3px solid #3A4562;
        border-left: 3px solid #3A4562;
        border-radius: 3px;
        display: inline-block;
        transform: rotate(45deg);
        margin-right: 19px;
      }

      &:hover {
        background: #878D9D;
      }

      .back_text {

      }
    }

  }
}

